<li id="goal-id-<%= goal.id %>">
  <div class="goal">
  <h3> <%= goal.title %>  </h3>
  <p> <%= goal.description %> </p>
  <% if goal.repeatable %> 
    <p> <strong> Repeats every </strong> <%= decode_rep_code goal.repeatable %> </p>
  <% end %>
  <% if goal.deadline %>
    <p> <strong>Deadline:</strong> <%= format_datetime goal.deadline %> </p>
  <% end %>
  <% if goal.start %>
    <p> <strong>Start Time:</strong> <%= format_datetime goal.start %> </p>
  <% end %>
  <% if goal.end %>
    <p> <strong>End Time:</strong> <%= format_datetime goal.end %> </p>
  <% end %>
  <button type="button" class="btn btn-primary btn-small add-goal-button" data-toggle="modal" data-target="#myModal" id="parent-<%= goal.id %>">
    <i class="icon-plus icon-white"></i> 
  </button>
  <% if goal.subgoals.length > 0 %>
    <%= link_to "/goals/show_subgoals/#{goal.id}", class: "btn btn-small", id: "show-parent-#{goal.id}", remote: true do %>
      <i class="icon-chevron-down icon-white"></i>
    <% end %>
  <% end %>
  <%= link_to "/goals/#{goal.id}", class: "btn btn-small btn-danger", method: :delete do %>
      <i class="icon-remove icon-white"></i>
    <% end %>
    <%= link_to "/goals/#{goal.id}/edit", class: "btn btn-small" do %>
      <i class="icon-pencil icon-white"></i>
    <% end %>
  <ul id="ul-parent-<%=goal.id %>"></ul>
  </div>
</li>