<h1><%= @a %> </h1>
<% @dates.each do |date| %>
  <h2> <%= date.to_s.split('-').reverse.join(' ') %> </h2>
<% end %>

<div id="interactionContainer"></div>

<%= link_to 'New Goal', '/home', remote: true %>


<h2> All goals: </h2>
<% @goals.each do |goal| %>
  <h3> Goal: <%= goal.title %> </h3>
  <p> <strong> Description: </strong> <%= goal.description %> </p>
  <p> <%= goal.deadline %> </p>
  <%= link_to "Add New Subtask", '/home', remote: true, data:{tasktype: "Subtask"} %>
<% end %>